[submodule "External/AFNetworking"]
	path = External/AFNetworking
	url = git://github.com/AFNetworking/AFNetworking.git
[submodule "External/ReactiveCocoa"]
	path = External/ReactiveCocoa
	url = git://github.com/ReactiveCocoa/ReactiveCocoa.git
           ignored = dirty
[submodule "External/Specta"]
	path = External/Specta
	url = https://github.com/petejkim/specta.git
[submodule "External/Expecta"]
	path = External/Expecta
	url = https://github.com/petejkim/expecta.git
