[submodule "External/Specta"]
	path = External/Specta
	url = https://github.com/specta/specta.git
[submodule "External/Expecta"]
	path = External/Expecta
	url = https://github.com/specta/expecta.git
[submodule "External/ReactiveCocoa"]
	path = External/ReactiveCocoa
	url = https://github.com/ReactiveCocoa/ReactiveCocoa.git
[submodule "External/AFNetworking"]
	path = External/AFNetworking
	url = https://github.com/AFNetworking/AFNetworking.git
[submodule "xcconfigs"]
	path = xcconfigs
	url = https://github.com/jspahrsummers/xcconfigs.git
